/* ----------------- Section Our History ----------------- */

.section-our-history {
    padding: 152px 0;
    text-align: center;
}

.section-our-history .spoon {
    padding: 8px 0;
}

.section-our-history h2 {
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.section-our-history-content-columns {
    margin-top: 63px;
    display: flex;
    justify-content: center;
    column-gap: 7.5vw;
}

.section-our-history-content-columns .left-part {
    width: 27.2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-our-history-content-columns .right-part {
    width: 33vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-our-history p {
    font-family: var(--sans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: var(--grey);
}

.section-our-history-content-columns .about-us-picture {
    width: 100%;
    height: auto;
}

.goal-divider-container {
    height: 100%;
    width: 10%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.section-our-history-content-columns .goal-divider {
    height: 100px;
}

.section-our-history-content-columns .right-part h4 {
    text-align: left;
}

.section-our-history-content-columns .goals-container {
    display: flex;
    align-items: center;
    height: min-content;
    justify-content: space-between;
}

.one-goal-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.section-our-history-content-columns .goal-number {
    font-family: var(--cormorant);
    font-weight: 600;
    font-size: 45px;
    line-height: 130%;
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--gold);
}

.section-our-history-content-columns .goal-text {
    font-family: var(--cormorant);
    font-weight: 400;
    font-size: 32px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--white);
    text-align: left;
}

.section-our-history h4 {
    font-weight: 600;
    font-size: 45px;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--gold);
    padding: 40px 0;
}

.section-our-history-content-columns .left-part p {
    text-align: left;
    padding-bottom: 40px;
}





/* ----------------- Section About US ----------------- */

.section-about-us {
    text-align: center;
    margin-bottom: 152px;
    position: relative;
}

.section-about-us .spoon {
    padding: 8px 0;
}

.section-about-us h2 {
    text-transform: capitalize;
}

.section-about-us p {
    padding: 32px 12.4vw 96px 12.4vw;
    font-family: var(--sans);
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 175%;
    letter-spacing: 0.04em;
    color: var(--grey);
}

.section-about-us .video-container {
    position: relative;
}

#video {
    width: 100%;
    height: auto;
    max-height: calc(100vh - var(--header_height));
    ;
}

#play-video-button {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 1s;
}

#play-video-button:hover {
    transform: translate(-50%, -50%) scale(1.15);
}


.section-about-us .logo.top {
    position: absolute;
    top: 0;
    right: 7.9vw;
}

.section-about-us .logo.bottom {
    position: absolute;
    bottom: calc(-152px - 2.8vw);
    left: 7.6vw;
}

.global-lines.about-us-page .through-line.left {
    margin-top: 388px;

}

.global-lines.about-us-page .through-line.right {
    margin-top: 298px;

}





/* ----------------- Responsibility ----------------- */


@media screen and (max-width: 1400px) {

    .section-our-history-content-columns .goal-number {
        font-size: 35px;
    }

    .section-our-history-content-columns .goal-text {
        font-size: 25px;
    }

}


@media screen and (max-width: 1200px) {

    .section-our-history-content-columns {
        flex-direction: column;
        align-items: center;
    }

    .section-our-history-content-columns .left-part,
    .section-our-history-content-columns .right-part {
        width: 75%;
    }

    .section-our-history-content-columns .left-part {
        flex-direction: column-reverse;
    }

    .section-our-history-content-columns .left-part p {
        padding: 40px 0;
    }

    .one-goal-container {
        width: 25%;
    }

    .goal-divider-container {
        padding-left: 10px;
    }

    .section-our-history-content-columns .goal-number {
        font-size: 45px;
    }

    .section-our-history-content-columns .goal-text {
        font-size: 32px;
    }
}


@media screen and (max-width: 1000px) {

    .goal-divider-container {
        justify-content: center;
        padding-left: 30px;
    }

    .section-about-us .logo.top {
        top: -120px;
    }

    .section-about-us p {
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 800px) {

    .goals-container {
        flex-direction: column;
    }

    .one-goal-container,
    .goal-divider-container {
        width: 100%;
    }

    .goal-divider-container {
        justify-content: flex-start;
        padding-left: 150px;
        height: 100px;
    }

    .section-our-history-content-columns .goal-divider {
        transform: rotate(-90deg);
        height: 150px;
    }

    .section-about-us .video-container {
        width: 100vw;
        margin-left: -16.15vw;
    }

}