/* ----------------- General Page Rules ----------------- */


h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: var(--gold);
}


.gold-button {
    display: inline-block;
    padding: 8px 1.7vw;
    background-color: var(--gold);
    color: var(--other_black);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
}

.gold-button:hover {
    background-color: var(--darkgold);
    color: var(--white);
}

.logo {
    width: 7.5vw;
    height: 7.5vw;
}






/* ----------------- Head Post's Section ----------------- */


.section-head-posts {
    position: relative;
    width: 100%;
    padding-top: calc(3vh + var(--header_height));
    padding-bottom: 6vh;
    height: calc(100vh - var(--header_height) - 6vh - 3vh);
    max-height: calc(100vh - var(--header_height) - 6vh - 3vh);
    overflow: hidden;
}

.section-head-posts-content {
    display: flex !important;
    height: calc(100vh - var(--header_height) - 6vh - 3vh - 64px);
    max-height: calc(100vh - var(--header_height) - 6vh - 3vh - 64px);
    overflow: hidden;
}

.section-head-posts-categories {
    writing-mode: tb-rl;
    transform: rotate(-180deg);
    display: flex;
    justify-content: center;
    column-gap: 5%;
}

.section-head-posts-content-text-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section-head-posts-content-text-container2 {
    padding: 0 9.3vw 0 8vw;
}

.section-head-posts-content-header {
    font-size: 23px;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0.04em;
    text-align: left;
    text-transform: capitalize;
}

.section-head-posts-content-text-container .spoon {
    padding: 8px 0;
}

.section-head-posts-content-text-container h1 {
    font-size: 90px;
    font-weight: 700;
    line-height: 117px;
    letter-spacing: 0.04em;
    text-align: left;
    color: var(--gold);
    text-transform: capitalize;
    padding-bottom: 32px;
}

.section-head-posts-content-text {
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    padding-bottom: 32px;
}

.section-head-posts-content-image-container {
    position: relative;
    width: 50%;
    padding-top: 1.25vw;
    padding-left: 1.25vw;
    margin-bottom: 1.25vw;
    height: auto;
}

.section-head-posts-content-frame {
    position: absolute;
    z-index: 1;
    width: 22.6vw;
    height: 22.6vw;
}

.left-frame {
    bottom: 0;
    margin-bottom: -1.25vw;
    margin-left: -1.25vw;
}

.right-frame {
    margin-left: 10.65vw;
    margin-top: -1.25vw;
}

.section-head-posts-content-image {
    position: relative;
    width: 32vw;
    height: 100%;
    z-index: 2;
}

.slider-one-nav {
    display: flex;
    column-gap: 8px;
    color: black;
    font-family: var(--cormorant);
    color: #F5EFDB;
    font-size: 16px;
    font-weight: 600;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
    font-feature-settings: 'tnum' on, 'lnum' on;
}

.slider-one-slide-index.active::before,
.slider-one-slide-index.active-last::before,
.slider-one-slide-index.active::after,
.slider-one-slide-index.active-first::after {
    content: '—';
    position: relative;
    top: -8%;
    color: var(--gold);
}

.slider-one-slide-index.active-first::after {
    padding-left: 8px;
}

.slider-one-slide-index.active-last::before {
    padding-right: 8px;
}

.slider-one-slide-index.active::before {
    padding-right: 8px;
}

.slider-one-slide-index.active::after {
    padding-left: 8px;
}

.section-head-posts-buttons-container {
    position: absolute;
}

.section-head-posts-buttons {
    display: flex;
    height: 64px;
    width: 52.5%;
    margin-left: 47.5%;
    justify-content: space-between;
    align-items: flex-end;
}

.scroll-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 24px;
    border: none;
    background-color: inherit;
    transition: 1s;
}

.scroll-button p {
    color: var(--gold);
    font-family: var(--cormorant);
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em; 
}

.scroll-button:hover {
    transform: scale(1.1);
}



/* ----------------- Section Knife ----------------- */


.section-knife {
    position: relative;
    /* height: 100vh; */
    background-size: cover;
    height: calc(100vh - var(--header_height));
    max-height: calc(100vh - var(--header_height));

}

.section-knife .container {
    height: inherit;
    display: flex;
    align-items: center;
}

.background-letter {
    position: absolute;
    width: 21.6vw;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spoon.upset {
    transform: scaleX(-1);
}

.section-knife-content {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9.8vw;
    z-index: 2;
    position: relative;
}

.left {
    text-align: right;
}

.section-knife-content-text-container {}

.section-knife-content-text-container .spoon {
    padding-top: 8px;
    padding-bottom: 32px;
}

.section-knife-content-text-container p {
    font-family: var(--sans);
    color: var(--grey);
    font-size: 16px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.04em;
    padding-bottom: 32px;
}

.section-knife-content-image {
    width: 4.4vw;
    padding: 0 4.4vw;
}

.section-knife .logo {
    position: absolute;
    bottom: -15%;
    right: 0;
    margin-right: 7.8vw;
}









/* --------------- Responsivity -------------- */


@media screen and (max-width: 1600px) {

    .section-head-posts-content-text-container h1 {
        font-size: 60px;
        line-height: 80px;

    }
}


@media screen and (max-width: 1300px) {

    .section-head-posts-content-text-container h1 {
        font-size: 50px;
        line-height: 60px;

    }
}



