

html {
    /* scroll-behavior: smooth; */
    width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;

}

:root {
    --black:#0C0C0C;
    --other_black: #0C0B08;
    --white: #FFFFFF;
    --other_white: #FAFAFA;
    --gold: #DCCA87;
    --darkgold: #968445;
    --lightgold: #F5EFDB;
    --grey: #AAAAAA;
    --cormorant: 'Cormorant Upright', serif;
    --sans: 'Open Sans', sans-serif;
    --header_height: 120px;

}

body {
    font-family: var(--cormorant);
    text-align: left;
    background-color: var(--black);
    color: var(--white);
    width: 100%; 
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.container {
    padding: 0 6.25vw;
    min-width: 87.5vw;
}

.pointer {
    cursor: pointer;
}

.sans {
    font-family: var(--sans);
}

.spoon {
    width: 40px;
}

.quotes {
    width: 47px;
}

.global-lines {
position: relative;
overflow: hidden;
}

.through-line {
    position: absolute;
    z-index: -9999;
}

h1 {
    font-family: var(--cormorant);
    font-style: normal;
    font-weight: 700;
    font-size: 90px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    color: var(--gold);
}

h2 {
    font-size: 64px;
    font-weight: 600;
    line-height: 83px;
    letter-spacing: 0.03em;
    color: var(--gold);
}


h5 {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--gold);
}

h6 {
    font-weight: 700;
    font-size: 23px;
    line-height: 130%;
    letter-spacing: 0.04em;
    text-transform: capitalize;
    font-feature-settings: 'tnum' on, 'lnum' on;
    color: var(--white);
}


.gold-button {
    display: inline-block;
    padding: 8px 1.7vw;
    background-color: var(--gold);
    color: var(--other_black);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0.04em;
    text-align: left;
}

.gold-button:hover {
    background-color: var(--darkgold);
    color: var(--white);
}

.gold-button.transparent {
    background-color: rgba(255, 255, 255, 0);
    color: var(--white);
    border: 1px solid var(--gold);
}

.gold-button.transparent:hover {
    background-color: var(--darkgold);
    color: var(--other_black);
    border: 1px solid var(--darkgold);

}

.logo {
    width: 7.5vw;
    height: 7.5vw;
    min-width: 100px;
    min-height: 100px;
}

.wide-container {
    padding: 0 20.7vw;
    min-width: 58.6vw;
}

.container2 {
    padding: 0 16vw;
    min-width: 68vw;
}




